<!Doctype html>

<head>
    <%- include('../common/cdn') %>
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/box.css">

</head>

<body class="body_background_color">
    <%- include('../common/header') %>
        <%- include('admin-dashboard-box') %>
       
            <%- include('../common/footer') %>
                <%- include('../common/fscript') %>
</body>

</html>