<!Doctype html>

<head>
    <%- include('../common/cdn') %>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/box.css">
        <link rel="stylesheet" href="/css/addUser.css">

</head>

<body class="body_background_color">
    
    <%- include('../common/header') %>

        <%- include('box') %>

            <!-- html closed here -->
            <%- include('../common/footer') %>
                <%- include('../common/fscript') %>

</body>

</html>